.gsf-error { color:#ca252d;}
.gsf-warning { color:#eb8600;}
.gsf-success { color:#11805d;}

.gsf-wp-carousel-main {
    padding: 0;
    border-left: none;
}
.gsf-wp-carousel-main .gsf-wp-icon{
    display: flex;
    background: #195179;
    align-items: center;
    padding: 3px 9px 3px 9px;
}
.gsf-wp-carousel-main .gsf-wp-icon .img-div{
    max-width: 35px;
}
.gsf-wp-carousel-main .gsf-wp-icon .img-div img{
    width: 100%;
    height: 100%;
	display:block;    
}
.gsf-wp-carousel-main .gsf-wp-icon .gsf-wp-notification-heading{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #195278;
    padding: 0 0 0 10px;
}
.gsf-wp-carousel-outer {
    position: relative;
    border-left: 4px solid #5288b5;
}

.gsf-wp-carousel-main.notice-error .gsf-wp-carousel-outer {
    border-left: 4px solid #ca252d;
}
.gsf-wp-carousel-main.notice-warning .gsf-wp-carousel-outer {
    border-left: 4px solid #eb8600;
}
.gsf-wp-carousel-main.notice-success .gsf-wp-carousel-outer {
    border-left: 4px solid #11805d;
}
.gsf-wp-carousel-container {
    position: relative;
    display: flex;
    overflow: hidden;
    gap: 10px;
    flex-wrap: nowrap;
    max-width: 100%;
}

.gsf-wp-carousel-slide {
    display: none;
    flex-shrink: 0;
    width: 100%;
}

.gsf-wp-carousel-slide.active {
    display: block;
}

.gsf-wp-carousel-container .gsf-wp-carousel-slide .gsf-notification-title {
    border-bottom: 0;
    padding: 0 0 0 15px;
    color: #5288b5;
    font-size: 15px;
    font-weight: 600;
	letter-spacing: .02rem;
	display:flex;
	align-items:center;
    max-width: calc(100% - 200px);
}
.gsf-wp-carousel-container .gsf-wp-carousel-slide .gsf-notification-title img{
	padding-right:8px;
}

.gsf-wp-carousel-main.notice-info .gsf-wp-carousel-container  .gsf-notification-title,
.gsf-wp-carousel-container .gsf-wp-carousel-slide.gsf-wp-info .gsf-notification-title {
    color: #5288b5;
}

.gsf-wp-carousel-main.notice-error .gsf-wp-carousel-container  .gsf-notification-title,
.gsf-wp-carousel-container .gsf-wp-carousel-slide.gsf-wp-error .gsf-notification-title {
    color: #ca252d;
}

.gsf-wp-carousel-main.notice-warning .gsf-wp-carousel-container  .gsf-notification-title,
.gsf-wp-carousel-container .gsf-wp-carousel-slide.gsf-wp-warning .gsf-notification-title {
    color: #eb8600;
}

.gsf-wp-carousel-main.notice-success .gsf-wp-carousel-container  .gsf-notification-title,
.gsf-wp-carousel-container .gsf-wp-carousel-slide.gsf-wp-success .gsf-notification-title {
    color: #11805d;
}

.gsf-wp-carousel-container .gsf-wp-carousel-slide .gsf-notification-content {
    width: 100%;
    display: flex;
    padding: 8px 10px 9px 5px;
    align-items: center;
	font-size: 14px;
    box-sizing: border-box;
}
.gsf-notification-detail{
	padding: 0 20px 0 10px;
}
.gsf-notification-detail form {
	display:inline-block;
}
.gsf-notification-detail form input[type="submit"] {
	padding:0;
}
.gsf-wp-carousel-outer .gsf-wp-carousel-controls {
    position: absolute;
    top:5px;
    right: 10px;
    display: flex;
    align-items: center;
}

.gsf-wp-notification-dismiss{
    position: relative;
    display: inline-block;
    font-family: sans-serif;
}
.gsf-wp-notification-dismiss *{
    color: #000;
}

.gsf-wp-notification-dismiss button{
    cursor: pointer;
    background: transparent;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 5px 10px 2px 10px;
}

.gsf-wp-notification-dropdown-menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 90px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    border-radius: 5px;
    margin: 0;
    text-align: left;
    padding: 0px;
}
.gsf-wp-notification-dropdown-menu li {
    border-bottom: solid 1px #756666;
    margin-bottom: 0;
}
.gsf-wp-notification-dropdown-menu li a{
    width: auto;
    display: block;
    color: #202223;
    font-size: 13px;
    text-decoration: none;
    padding: 5px 10px;
}

.gsf-wp-notification-dropdown-menu li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.gsf-wp-notification-dismiss.open .gsf-wp-notification-dropdown-menu{
    display: block;
}
.gsf-down-dashicons{
    margin-top: -1px;
}



/* Temp added white for all */
.gsf-wp-carousel-main .gsf-wp-notification-dismiss button, 
.gsf-wp-carousel-main.notice-error .gsf-wp-notification-dismiss button, 
.gsf-wp-carousel-main.notice-success .gsf-wp-notification-dismiss button {
    border: solid 1px #000;
}

.gsf-wp-carousel-controls .gsf-slide-navigation .gsf-wp-slide-navigation{
  color:#000;
}
.gsf-wp-carousel-controls a:focus,
.gsf-wp-carousel-controls a:active {
  outline: none;
  box-shadow: none;
  border: none;
}
.gsf-wp-carousel-inner {
    display: flex;
    padding: 10px 0 0 10px;
}
.gsf-notification-icon{
    height: 100%;
}